<div class="login-container">
  <div class="login-box">
    <h2>☕ CoffeeLocator</h2>
    <p>Ingresá para descubrir las mejores cafeterías</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Correo Electrónico</label>
        <input type="email" formControlName="email" placeholder="ejemplo@cafe.com">
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" formControlName="password" placeholder="******">
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
      
      <p class="error-msg" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>

    <div class="footer-links">
      <a routerLink="/register">¿No tienes cuenta? Regístrate</a>
    </div>
  </div>
</div>